:root {
    --footer-size: 60px;
    --background-primary: #181818;
    --background-secondary: #2d2a31;
}

* {
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
    background-color: var(--background-primary);
    scroll-behavior: smooth;
}

nav {
    background-color: var(--background-secondary);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li.nav-right {
    float: right;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2rem;
}

nav li a:hover {
    color: #b59be0;
}

main {
    margin-bottom: var(--footer-size);
    color: white;
    padding: 0 3em;
    padding-bottom: 2em;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-secondary);
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    height: var(--footer-size);
    width: 100%;
    overflow: hidden;
}

footer .footer-text {
    text-align: center;
}

footer a {
    color: #9999ff;
    text-decoration: none;
}

footer a:hover {
    color: #ccccff;
}

div.index h1 {
    padding-top: 1em;
    font-size: 5rem;
    text-align: center;
}

div.index p, div.index a {
    font-size: 1.8em;
    color: #eeeeff;
}

section {
    margin-bottom: 3em;
}

section.about div.content {
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

section div.technology-grid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    width: 240%;
}

section div.technology-grid div.technology-wrap {
    background: linear-gradient(156deg, rgba(106,81,144,1) 0%, rgba(146,54,163,1) 50%, rgba(104,120,213,1) 100%);
    padding: 5px;
    border-radius: 7px;
    width: 235px;
    height: 165px;
}

section div.technology-grid div.technology {
    background: #181818;
    gap: 10px;
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: auto;
    padding: 10px;
}

section div.technology-grid div.technology img {
    filter: drop-shadow(0.5px 0.5px 1px #555);
}

section div.project {
    margin: 3em 0;
}

section div.project a {
    font-size: 3em;
}

section div.game {
    margin: 3em 0;
}

section div.game a.title {
    font-size: 3em;
}
